.disec__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  
  }

  .background_container_disec {
    background: url('/assets/disec.jpg') center center/cover no-repeat; 
    background-attachment: fixed;
    background-size: cover;
    height: 45vh;
    width: 100%;
    display: flex;
    
  }

  .disec {
    padding: 2rem;
    background: white;
    
  }

  .disec_heading > h1 {
    letter-spacing: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-family: Rubik;
    font-style: normal;
    
    font-size: 70px;  
  margin-top: 10px; 
  text-align: center;
  margin-bottom: 3.5rem;
 
 
  }

  .agenda_disec > h2{
   
  text-transform: none;
 font-family: 'Roboto', sans-serif;
    color: black;
    letter-spacing: 0.1rem;
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
  }

  .freeze_disec > h2{
   
    text-transform: none;
   font-family: 'Roboto', sans-serif;
      color: black;
      letter-spacing: 0.1rem;
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 20px;
    }

  .desc_disec > p {
text-align: center;

    font-size: 17px;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    color: black;
    letter-spacing: 0.5px;
  }

  .member-name_d> h2 {
    font-size: 22px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    display:flex;
    margin-top: -435px;
    margin-right: 240px;
    
  }
  
  .member-title_d > h2{
    color: #00366B;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    display:flex;
    margin-top: -435px;
  }


  .executive-board {
    max-width: 800px;
    margin: 0 auto;
    
  }
  
  .board-title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
    color: #00366B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-family: Rubik;
    font-style: normal;
  }
  
  .board-member {
    display: flex;
    margin-bottom: 30px;
    align-items: flex-start;
  }
  
  .board-member.reverse {
    flex-direction: row-reverse;
  }
  
  .member-image-container {
    flex: 0 0 150px;
    margin: 0 20px;
  }
  
  .member-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .member-info {
    flex: 1;

  }

  .member-info.center-content {
    display: flex;
    flex-direction: column;
    
    
  }
  
  .member-quote.centered-quote {
    width: 100%;
    margin-top: 50px;
  }
  
  .member-name {
    font-size: 22px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight:400
  }
  
  .member-title {
    color: #00366B;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight:400
  }
  
  .member-bio {
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.7px;
  }

 
  .member-quote > p {
    
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    color: black;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 15px;
  }
 
  

.quote-attribution {
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  
  color: black;
  font-size: 14px;
  font-style: italic;
    text-align: right;
    margin-top: 5px;
}
  
  
  .member-divider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 30px 0;
  }
  
  @media (max-width: 600px) {
    .board-member, .board-member.reverse {
      flex-direction: column;
      align-items: center;
    }
  
    .member-image-container {
      margin-bottom: 20px;
    }
  
    .member-info {
      text-align: center;
    }
  }

  

 


  