.footer-container {
  background-color: #003255;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.quote_footer {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 1rem 0;
}

.quote_footer > p {
  font-size: 42px;
  font-family: 'Futura-Book', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: white;
  margin: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 5px;
  color: #fff;
  text-align: center;
}


.footer-venue {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 5px;
  color: #fff;
  text-align: center;
}

.footer-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.heading-venue {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: -10px;
}

.footer-contact > p,
.footer-venue > p {
  font-family: 'Futura-Book', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
}

.footer-contact-text,
.footer-venue-text,
.footer-location-text {
  font-size: 16px;
  padding:1px
}

.icon-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  max-width: 350px;
  margin-bottom: 40px;
  padding: 15px;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #003255;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
  margin: 0 10px;
}

.icon img {
  width: 70%;
  height: 70%;
}

.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.website-rights {
  width: 100%;
  text-align: center;
}

.website-rights > p {
  color: #fff;
  font-family: 'Futura-Book', sans-serif;
  font-weight: 400;
  margin-top: 80px;
}

@media screen and (min-width: 1024px) {
  .footer-content {
    flex-direction: row;
    justify-content: center;
  }

  .footer-contact,
  .footer-venue {
    width: 40%;
    margin: 0 2rem;
  }
}

@media screen and (max-width: 1023px) {
  .footer-container {
    padding: 2rem 1rem;
  }

  .quote_footer > p {
    font-size: 32px;
  }

  .footer-content {
    align-items: center;
  }

  .footer-contact,
  .footer-venue {
    width: 100%;
  }

  .icon-container {
    margin-left: auto;
    margin-right: auto;
  }
}