

@font-face {
  font-family:'Futura-Book';
  src: url('/FuturaBook.ttf') format('truetype');
 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }

  /* colors-
  headings-
  blue- #00366B
  backgrounds- 
  lighter blue- #406890
  even lighter blue #66A0D9
  for footer-
  dark blue- #003255
  
  fonts and other styles-
  font for headings- 
  color: #00366B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-family: Rubik;
    font-style: normal;

    for paragraphs-
    font-family: 'Nunito', sans-serif;
    font-weight: 100;

    subheadings-
    font-family: 'Roboto', sans-serif;
    font-weight:300


   */

  
  
 
  
  
  
 
  

